.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3D563F;
}

.title {
  font-size: 36px;
  font-weight: 700;
 
  margin-right: auto; /* Allow the title to take its space, but no more */
  margin-left: 12px;
}

.navButtonsContainer {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: flex-end; /* Push buttons to the right */
}

.navButtons {
  font-size: 18px;
  text-decoration: none;
  color: rgb(243, 238, 238);
  padding: 5px 10px;
  white-space: nowrap;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  
}
 .logo{
  margin-right: 30px;
 }



 